/* Instellingen */
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">);

*{margin: 0;
    box-sizing: border-box;
  padding: 0;
}
body {
    background-color: rgb(26, 179, 128);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
a{
    color: black;
}
/* Hoofding */
header{
    background-color: rgb(89, 144, 126);
    padding-left: 2ch;
    font-size: 1.2rem;
}
header img{
    width: 90px;
}
header nav li{
    display: inline-block;
}
header nav a {
    padding: 20px;
    text-decoration-line: none;
}
header nav a:hover{
    text-decoration-line: underline;
}
i{
    font-size: 20px;
    color: blueviolet;
}
/* Vormgeving classes */
.flex-container {
    display: flex;
    justify-content:space-between ;
}